numpy>=1.19
scipy>=1.5
scikit-learn>=0.23
jax>=0.2.11
jaxlib>=0.1.62
numpyro>=0.6.0
chex>=0.0.6
optax>=0.0.6
distrax>=0.0.1
tfp-nightly
tqdm>=4.60.0
einops>=0.3.0
scikit-image>=0.18.1
torch>=1.6
torchvision>=0.9
torchaudio>=0.8
torchmetrics>=0.2.0
pytorch-lightning>=1.2
lightning-bolts>=0.3
black
flake8>=3.9.1
isort>=5.0
pytest>=4.1
ipykernel>=5.5.3
nb_black>=1.0.7
pyprojroot
loguru>=0.5.3
wandb>=0.10.27
matplotlib>=3.3
seaborn>=0.11.1
celluloid>=0.2.0
corner>=2.2.1